/* src/components/Gallery.css */
.gallery-container {
  width: 100%;
  /* height: 100vh; */ /* Eliminado para permitir que la altura se ajuste al contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Asegurar que el padding no aumente el tamaño total */
  margin: 2rem; /* Añadido margen inferior para separar del grid */
}

.gallery-title {
  font-size: 3.5rem; /* Reducido de 5em para mejor proporción en laptops */
  color: #ffffff; /* Un color gris oscuro para el título */
  text-align: center;
  font-weight: 300; /* Un peso de fuente más ligero, estilo Apple */
  margin-bottom: 5rem; /* Añadido margen inferior para separar del grid */
  width: 100%;
  background-color: #ffffff52;
  border-radius: 24px;
  border: #ffffff9d .1px solid;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Cambiado para un diseño de 3 columnas */
  gap: 5rem; /* Espacio entre tarjetas, considera ajustarlo si es necesario */
  width: 100%;
  /* height: 100%; */ /* Eliminado para permitir que la altura se ajuste al contenido */
  padding: 0 15px; /* Pequeño padding lateral */
  box-sizing: border-box;
}

/* Media query para pantallas más pequeñas, por ejemplo, 1 columna */
@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px;
  }
  .gallery-title {
    font-size: 2em;
  }
}